
.logo{
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    /*border: 1px solid #000;*/
    height: 65px;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
    height: 65px;
    /*border: 1px solid #000;*/

}

.nav-text{
  color:#000;
}
.navbar-brand{
    /*border: 1px solid #000;*/
    height: 65px;
    width: 300px;
;
}

#nav-logo{
    height: 65px;
    width: 300px;
    padding-bottom: 10px;
}
.jumbotron {
    height: 500px;
    width: 1115px;
    /*float:none;*/
    margin:0px auto;
    /*display: block;*/
    text-align: center
    border: 2px solid red;
}

.jumbotron > img{
    height: 500px;
    width: 1115px;
    margin-bottom: 100px;
}

#page-title{
  text-align: center;
  color: #fff;
  margin-top: -400px;
  /*border: 2px solid #000;*/
}

.content{
    margin-top: 300px;
}
