
.logo{
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.jumbotron img{
  height: 400px;
  width: 100%;
}

.navbar-brand{
  height: 75px;
  width: 300px;
}

#nav-logo{
  height: 65px;
  width: 300px;
}
